body {
    background: url(../img/background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Limelight', cursive;
}

.bg-dark {
    opacity:0.9!important;
}


